<article id="main">

  

    <!-- One -->
      <section class="wrapper style2 container special-alt">
        <div class="row gtr-50">
  
            <header>
              <h3>How much do <strong>YOU</strong> impact the environment</h3>
            </header>
            <p class="center">Climate change is one of the world’s most pressing challenges. 
              Tracking your carbon footprint is a way to prepare for the future.
               With this carbon tracker, you can have a
               good understanding of where your 
              emissions are and how to manage them.
              <br/>
            </p>
        </div>
      </section>
      <br/>
      <br/>
      
         
      <section id="banner4">
  
        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">
      
          
            <h2>Step One:
              </h2>
          
          <br/>
          <header>
            <h2>Calculate you CO<sub>2</sub> 
                <br/>
                Emissions</h2>
          </header>
          <footer>
            <ul class="buttons stacked">
              <li><a routerLink="/ctrack2" class="button primary1">Calculator</a></li>
            </ul>
          </footer>
        </div>
      
      </section>
      <br/>
      <br/>
  <section id="banner3">
  
    <!--
      ".inner" is set up as an inline-block so it automatically expands
      in both directions to fit whatever's inside it. This means it won't
      automatically wrap lines, so be sure to use line breaks where
      appropriate (<br />).
    -->
    <div class="inner">
  
      
        <h2>Step Two:
          </h2>
      
      <br/>
      <header>
        <h2>Track your  
          <br/>
          Progress</h2>
      </header>
      <footer>
        <ul class="buttons stacked">
          <li><a routerLink="/ctrack6" class="button primary">Tracker</a></li>
        </ul>
      </footer>
    </div>
  
  </section>
  <br/>
  <br/>
  
