

    <!-- Banner -->
<section id="banner">

  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
  <div class="inner">

    <header>
      <h2>Save Planet Earth</h2>
    </header>
    <p>Be The <strong>Change</strong> Today
    <br />
    
    <footer>
      <ul class="buttons stacked">
        <li><a routerLink="/register" class="button fit scrolly">REGISTER</a></li>
      </ul>
    </footer>

  </div>

</section>

<article id="main">

  <header class="special container">
    <span class="icon solid fa-leaf"></span>
        
     
    <h2 class="teal-text">Trinidad and Tobago has a <strong>significant</strong> garbage problem.</h2>
    <br />
    
    <p>Litter is <strong class=" teal-text accent-1">widespread</strong>  on this island.
      In 2018, over a half-a-ton of garbage was 
      removed from Invaders Bay, <strong class=" teal-text accent-1">Port-of-Spain. </strong>
    <br />
    Littering reveals the <strong class=" teal-text accent-1">lack of </strong>
     environmental consciousness the society has. </p>
  </header>
  <header class="special container">
     <span class="icon solid fa-cloud"></span>
    <h2 class="teal-text">
      <strong>Save Planet Earth </strong> </h2>
      <p>Aims to promote awareness to the citizens of <strong class=" teal-text accent-1">T&T</strong> about the 
      <br/>
      impact they have on the <strong class=" teal-text accent-1"> Environment</strong> </p>
  </header>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">calendar_today</i></h2>
            <h5 class="center">Attend ECO-events</h5>

            <p class="light">A platform where users can post events such as beach cleanups, planting of trees, and indicate their attendance to the event.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">eco</i></h2>
            <h5 class="center">Learn more about an ECO-lifestyle</h5>

            <p class="light">The application will provide information about environmental protection and conservation as well as contact information on iCareTT and other garbage collectors.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">timer</i></h2>
            <h5 class="center">Challenge yourself!</h5>

            <p class="light"> Users can take part in challenges and earn a badge on the website as well as physical rewards such as vouchers, gift certificates etc.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


 
    <section id="banner2">

      <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
      -->
      <div class="inner">
    
        <header>
          <h2>Live a Cleaner, Happier Life!</h2>
        </header>
       
      </div>
    
    </section>
  

 

    

      <ul >
          <section class="center teal lighten-4">
         <h4 class=" center orange-text darken-4">Thank you to our Sponsors! </h4>
         <p class="indigo-text">Get a chance to win Massy Rewards and other prizes!</p>
         <img style="height: 50px;"src="https://carifesta.net/wp-content/uploads/2019/06/Massy_Stores_Pantone.png">
<br/>
         <img style="height: 100px;"src="https://carifesta.net/wp-content/uploads/2018/10/SWMCOL.png">
         <br/>
         <img style="height: 70px;" src="https://carifesta.net/wp-content/uploads/2018/10/EMA.png">
      </section>
      </ul>