

    <!-- Banner -->
    <section id="banner11">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">
      
          <header>
            <h2>Event Successfully Sent.</h2>
          </header>
          <br />
          <p>Please wait while ACA Engineers Review your Event</p>
          
          <footer>
            <ul class="buttons stacked">
              <li><a routerLink="/events" class="button fit scrolly">Return to Events Page</a></li>
            </ul>
          </footer>
      
        </div>
      
      </section>
      