

    <!-- Banner -->
    <section id="banner11">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">
      
          <header>
            <h2>Thank you for completing a challenge!</h2>
          </header>
          <h1>+5 Points</h1>
          <br />
          <p>Stay Tuned for Winners!</p>
          
          <footer>
            <ul class="buttons stacked">
              <li><a routerLink="/challenge1" class="button fit scrolly">Return to Challenges Page</a></li>
            </ul>
          </footer>
      
        </div>
      
      </section>
      