  <article id="main">

    <header class="special container">
      <span class="icon solid fa-book"></span>
      <h2 class="teal-text">Articles</h2>
      <p class="orange-text">The Eco-friendly Hub for Learning.</p>
    </header>

    <!-- One -->
      <section class="wrapper style4 container">

        <div class="row gtr-150">
          <div class="col-8 col-12-narrower">

            <!-- Content -->
              <div class="content">
                <section>
                  <a href="https://www.nationalgeographic.org/article/conserving-earth/" class="image featured"><img src="https://cdn130.picsart.com/294361706050201.jpg?to=min&r=640" alt="" /></a>
                  <header>
                    <h3 class="teal-text">CONSERVING THE EARTH BY NATIONAL GEOGRAPHIC</h3>
                  </header>
                  <p>The Earth’s natural resources include air, water, soil, minerals, 
                    plants, and animals. Conservation is the practice of caring for these 
                    resources so all living things can benefit from them now and in the future.
                     People often waste natural resources; animals are overhunted and forests are 
                     cleared, exposing land to wind and water damage. Fertile soil is exhausted 
                     and lost to erosion because of poor farming practices. Fuel supplies are 
                     depleted. Water and air are polluted. Forests provide habitats for animals 
                     and plants. They store carbon, helping reduce global warming and protect 
                     soil by reducing runoff. Deforestation is the process of clearing away forests
                      by cutting them down or burning them. People clear forests to use the wood, 
                      or to make way for farming or development. Deforestatation releases greenhouse
                       gases into the atmosphere, contributing to global warming and accounts for 
                       15 percent of the world’s greenhouse gas emissions. Trees can also be 
                       conserved if consumers recycle. People in China and Mexico, for example, 
                       reuse much of their wastepaper, including writing paper, wrapping paper, 
                       and cardboard. If half the world’s paper were recycled, much of the worldwide
                        demand for
                     new paper would be fulfilled, saving many of the Earth’s trees.
                     </p> 
                     <footer>
                      <ul class="buttons">
                        <li class="orange-text"><a href="https://www.nationalgeographic.org/article/conserving-earth/" class="button small center">Learn More</a></li>
                      </ul>
                    </footer>
                </section>
              </div>

          </div>
          <div class="col-4 col-12-narrower">

            <!-- Sidebar -->
              <div class="sidebar">
                <section>
                  <header>
                    <h4 class="teal-text lighten-2">CONTACT INFORMATION ON RECYCLING COMPANIES AND GARBAGE COLLECTORS:</h4>
                    <h4 class="orange-text">SWMCOL'S VISION</h4>
                  </header>
                  <p>SWMCOL's Vision is to become the provider of choice for integrated environmental services in the region, with a reputation for rendering highly reliable services at competitive prices, and for ensuring the satisfaction of the customer. </p>
                  <p>SWMCOL Head Office 
                    #34 Independence Square North,Port of Spain, Trinidad, W.I. 
                    Phone: 868-612-SWMC (7962) 
                    E-mail: info@swmcol.co.tt </p>
                  <footer>
                    <ul class="buttons">
                      <li class="teal-text"><a href="https://www.swmcol.co.tt" class="button small">Visit Their Website</a></li>
                    </ul>
                  </footer>
                </section>

                <section>
                  <header>
                    <h4 class="orange-text">ABOUT ICARETT</h4>
                  </header>
                  <p>We are taking recycling and transforming the culture of waste management towards a 'Circular Economy'. 

                    Call: (868) 226-4362 </p>
                  <footer>
                    <ul class="buttons">
                      <li class="teal-text"><a href="https://www.ema.co.tt/" class="button small">Visit Their Website</a></li>
                    </ul>
                  </footer>
                </section>
              </div>

          </div>
        </div>
      </section>

    <!-- Two -->
      <section class="wrapper style1 container special">
        <div class="row">
          <div class="col-4 col-12-narrower">

            <section>
              <header>
                <h4 class="teal-text text-darken-3">GOING GREEN: CLEANING UP IS EVERYONE'S RESPONSIBILITY</h4>
              </header>
              <p>“Plastics continue to be a problem. We’ve just finished a weekend assisting with the International Coastal Clean-up and I want to thank the volunteers for doing the work and gathering important data on the amount of waste being collected, because it’s not just about cleaning up but gathering baseline data to determine what are the types of items are polluting the environment.” </p>
              <footer>
                <ul class="buttons">
                  <li class="teal-text"><a href="https://www.looptt.com/content/going-green-cleaning-everyones-responsibility-says-minister" class="button small">Learn More</a></li>
                </ul>
              </footer>
            </section>

          </div>
          <div class="col-4 col-12-narrower">

            <section>
              <header>
                <h4 class="teal-text ">CAUSE AND EFFECT ANALYSIS OF LITTERING IN TRINIDAD AND TOBAGO</h4>
              </header>
              <p>Littering is a very serious problem in Trinidad and Tobago. Almost everywhere you turn garbage is present – on the highways, in communities, seas and rivers. Our once pristine parks and beaches are now filled with various types of plastic, Styrofoam containers, and glass bottles. </p>
              <footer>
                <ul class="buttons">
                  <li class="orange-text" ><a href="https://stratmatters.wordpress.com/2018/11/20/cause-and-effect-analysis-for-littering-in-trinidad-tobago-by-the-magnificent-7/" class="button small">Learn More</a></li>
                </ul>
              </footer>
            </section>

          </div>
          <div class="col-4 col-12-narrower">

            <section>
              <header>
                <h4 class="teal-text text-lighten-2">No Cow Necessary: Here’s How to Make Plant-Based Milk</h4>
              </header>
              <p>Home baristas have made soy, oat and almond milk hard to find in stores. You can make them in your kitchen, and cut your carbon footprint at the same time.
                Here’s one thing that’s a lot harder to find in stores these days: alternative milks. Sales of oat milk, for example, recently jumped more than 350 percent as coffee shop regulars, cut off from their baristas, started making their brews at home.
             </p>
              <footer>
                <ul class="buttons">
                  <li class="teal-text"><a href="https://www.nytimes.com/2020/05/13/climate/make-almond-oat-soy-milk.html" class="button small">Learn More</a></li>
                </ul>
              </footer>
            </section>

          </div>
        </div>
      </section>

  </article>
